body{
    background-color: red;
}
h1{
    background-color: aliceblue;
}
#p1{
    background-color: aliceblue;
}
#p2{
    background-color: blue;
}
#p3{
    background-color: beige;
}
#p4{
    background-color: aqua;
}
.odd{
    color: aquamarine;
}
.even{
    color: blanchedalmond;
}